<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | WanderLust</title>

    <link rel="stylesheet" href="/css/output.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
    integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />
</head>

<body class="bg-[#f9fafb]">

    <%- include("../includes/navbar.ejs") %>
    <div class="fixed top-20 left-1/2 -translate-x-1/2 z-50">
    <%- include("../includes/toast.ejs") %>
    </div>
    
    <section class="min-h-[calc(100vh-80px)] flex items-center justify-center px-4">

        <form action="/signup" method="POST" class="w-full max-w-md">

            <div class="bg-white p-8 rounded-2xl border border-black/5 shadow-sm">

                <h1 class="text-3xl font-bold text-heading mb-2">Sign up today</h1>
        
                <p class="text-sm text-body mb-7">Start exploring beautiful stays around the world.</p>
                <div class="mb-5">
                    <label for="username" class="block mb-2 text-sm font-medium text-heading">Your Username</label>
                    <input type="text" id="username" name="User[username]" placeholder="User123" required
                    class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base
                    focus:ring-brand focus:border-brand block w-full px-4 py-3 shadow-sm placeholder:text-body" />
                </div>

                <div class="mb-5">
                    <label for="email" class="block mb-2 text-sm font-medium text-heading">Your email</label>
                    <input type="email" id="email" name="User[email]" placeholder="name@example.com" required
                    class="bg-neutral-secondary-medium border border-default-medium text-heading 
                    text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3 shadow-sm placeholder:text-body" />
                </div>

                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-heading">Your password</label>
                    <input type="password" id="password" name="User[password]" placeholder="••••••••" required
                    class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm 
                    rounded-base focus:ring-brand focus:border-brand block w-full px-4 py-3 shadow-sm placeholder:text-body" />
                </div>

                <button type="submit"
                class="w-full text-white bg-brand hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium 
                shadow-sm font-medium rounded-base text-sm px-5 py-3 transition">Create Account</button>

                <p class="text-sm text-body text-center mt-6">
                    Already have an account?
                    <a href="/login" class="text-fg-brand hover:underline font-medium">Login</a>
                </p>
            </div>
        </form>
    </section>
    <script src="/flowbite/dist/flowbite.min.js"></script>
</body>
</html>